body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #1a252f;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

main {
  padding: 1rem;
}

h2 {
  color: #1a252f;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  gap: 0.5rem;
  text-align: left;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #1a252f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.package {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
}

.package button {
  margin-top: 0.5rem;
}

#member-id,
#selected-package {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #e7f5ff;
  border: 1px solid #1a252f;
  border-radius: 5px;
}

footer p {
  color: white;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #1a252f;
  margin-top: 20px;
}

@media (max-width: 768px) {
  input,
  select,
  button {
    max-width: 90%; /* Kurangi lebar untuk perangkat sedang */
  }
}

@media (max-width: 480px) {
  input,
  select,
  button {
    max-width: 100%; /* Lebar penuh untuk perangkat kecil */
  }
}
